*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
.h1{
    text-align: center;  
}
.container{
    margin: auto;
    width: 460px;
    height: 540px;
   background-color:rgb(22, 22, 22);
   padding: 10px;
   border-radius: 10px;
}
.p{
   font-size: 1.5rem;
}
form{
    color: white;
}
#screen{
    width: 26rem;
    height: 6rem;
    margin: 5px;
    font-size: 3rem;
    text-align: right;
    border-radius: 0.5rem;
    background-color: rgb(75, 75, 92);
}
.button{
    width: 80px;
    height: 60px;
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 1rem;
}
.op{

    background-color: gray;
} 
.cancel{
    background-color: rgb(206, 22, 22);
}
.button:hover{
    border: 5px solid greenyellow;
}